<html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
    <link rel="stylesheet" href="./log.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
    <section id="app">
        <div class="row">
            <div class="col-md-12">
                <h4>Node Info</h4>
            </div>
            <div class="col-md-12">
                <p>Node IP address: <strong>{{ ip }}</strong></p>
                <p>Node Port: <strong>{{ port }}</strong></p>
            </div>
            <div class="col-md-12">
                <h4>Useful Endpoints</h4>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/combined-debug?wait=120`" target="_blank">/combined-debug(120s)</a>
                <a :href="`http://${ip}:${port}/combined-debug?wait=60`" target="_blank">/combined-debug(60s)</a>
                <a :href="`http://${ip}:${port}/combined-debug?wait=30`" target="_blank">/combined-debug(30s)</a>
                <a :href="`http://${ip}:${port}/combined-debug?wait=15`" target="_blank">/combined-debug(15s)</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/debug`" target="_blank">/debug (download zipped logs)</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/accounts`" target="_blank">/account (get json of all account data -
                    slow)</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/perf`" target="_blank">/perf</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/counts`" target="_blank">/counts</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/counts-reset`" target="_blank">/counts-reset</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/memory`" target="_blank">/memory</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/top`" target="_blank">/top (view processes with highest CPU usage)</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/df`" target="_blank">/df (availabe disk space)</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/log-default`" target="_blank">/log-default</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/log-fatal`" target="_blank">/log-fatal</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/log-default-all`" target="_blank">/log-default-all</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/log-fatal-all`" target="_blank">/log-fatal-all</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/sync-statement`" target="_blank">/sync-statement</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/sync-statement-all`" target="_blank">/sync-statement-all</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/get-shard-report-all`" target="_blank">/get-shard-report-all</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/account-report?id=0000x00000`" target="_blank">/account-report</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/get-tree-last-insync-all`" target="_blank">/get-tree-last-insync-all</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/get-tree-last-insync`" target="_blank">/get-tree-last-insync</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/get-stats-report-all`" target="_blank">/get-stats-report-all</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/print_tx_debug`" target="_blank">/print_tx_debug</a>
                <a :href="`http://${ip}:${port}/clear_tx_debug`" target="_blank">/clear_tx_debug</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/debug-patcher-toggle-skip`" target="_blank">/debug-patcher-toggle-skip</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/debug-patcher-voteflip`" target="_blank">/debug-patcher-voteflip</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/debug-patcher-fail-tx`" target="_blank">/debug-patcher-fail-tx</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/debug-patcher-ignore-hash-updates`"
                    target="_blank">/debug-patcher-ignore-hash-updates</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/debug-patcher-dumpTree`" target="_blank">/debug-patcher-dumpTree</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/nodeinfo`" target="_blank">/nodeinfo</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/sync-newest-cycle`" target="_blank">/sync-newest-cycle</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/cyclemarker`" target="_blank">/cyclemarker</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/load`" target="_blank">/load</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/archivers`" target="_blank">/archivers</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/datarecipients`" target="_blank">/datarecipients</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/netconfig`" target="_blank">/netconfig</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/tx-stats`" target="_blank">/tx-stats</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/genesis_accounts`" target="_blank">/genesis_accounts</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/system-info`" target="_blank">/system-info</a>
            </div>
            <div class="col-md-12">
                <a :href="`http://${ip}:${port}/account/0x0000000000000000000000000000000000000000`" target="_blank">network account</a>
            </div>
        </div>
    </section>
    <script src="axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="auth.js"></script>
    <script src="log.js"></script>
</body>

</html>
